.contactsList {
  margin: 10px auto;
  width: 350px;
  padding: 0;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contactsName {
  display: flex;
  margin-left: 15px;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.contactsNumber {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.delBtn {
  color: #000000;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #3d94f6;
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.delBtn:hover {
  color: #000;
  background-color: transparent;
  text-shadow: nthree;
}
.delBtn:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
.delBtn:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  color: #000;
  background: #3d94f6;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.delBtn:active {
  background-color: white;
}

.remove {
  color: red;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.remove:hover {
  transform: scale(1.2);
}

.call {
  margin-left: auto;
  color: green;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call:hover {
  transform: scale(1.2);
}

.edit {
  color: orange;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.edit:hover {
  transform: scale(1.2);
}
